body {
    background-color: black;
}
serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
.btn-style-perso {


  box-shadow: 0px 0px 0px transparent;

  border: 0px solid transparent;

  text-shadow: 0px 0px 0px transparent;
  color : white;
  padding-top: 8px;
  padding-left: 4px;

}
#color-red {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: rgb(255, 9, 9);
  padding: 1px;
  margin-left : 5px
}
#color-green {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: rgb(0, 255, 13);
  padding: 1px;
  margin-left : 5px
}
#color-blue {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: rgb(0, 4, 255);
  padding: 1px;
  margin-left : 5px
}
#color-orange {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: rgb(255, 145, 0);
  padding: 1px;
  margin-left : 5px
}
#color-yellow {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: rgb(255, 251, 37);
  padding: 1px;
  margin-left : 5px
}
#color-pink {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: rgb(255, 5, 234);
  padding: 1px;
  margin-left : 5px
}
#color-purple {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: rgb(162, 0, 255);
  padding: 10px;
  margin-left : 5px
}
.color-red {
  color : red
}
.color-green {
  color : rgb(5, 255, 5)
}
.color-blue {
  color: blue;
}
.color-orange {
 color:orange
}
.color-yellow {
  color:yellow
}
.color-pink {
  color: pink
}
.color-purple {
  color : purple
}
.nav-red {
  background-color : red
}
.nav-green {
  background-color : rgb(5, 255, 5)
}
.nav-blue {
  background-color: blue;
}
.nav-orange {
 background-color:orange
}
.nav-yellow {
  background-color:yellow
}
.nav-pink {
  background-color: pink
}
.nav-purple {
  background-color; : purple
}